In [1]:
import pandas as pd
import numpy as np

## Clients

In [2]:
# oppening datasets
clients = pd.read_csv('clients.csv')

In [4]:
clients

                      user_id sign_up_date
0    59a6c127e66d0507dc382dac   2017-08-30
1    5af8d15ce66d031e78734b0a   2018-05-13
2    5c4914c5e66d0315b4188471   2019-01-24
3    5c4914c5e66d0315b4188471   2019-01-24
4    5c4914c5e66d0315b4188471   2019-01-24
..                        ...          ...
995  58a83f46e66d031ae88e8173   2017-02-18
996  59f9b10be66d0316fcf40a6d   2017-11-01
997  59f96418e66d031b3c9913fa   2017-11-01
998  59f9e6dce66d0316fcf41d89   2017-11-01
999  59f9e6dce66d0316fcf41d89   2017-11-01

[1000 rows x 2 columns]

In [8]:
#checking null values
clients.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user_id       1000 non-null   object
 1   sign_up_date  1000 non-null   object
dtypes: object(2)
memory usage: 15.8+ KB

In [11]:
#checking duplicates
clients['user_id'].value_counts()

5c619e13e66d03057cb968d9    12
5c96c3f2e66d032b9024a986    11
58a4b221e66d03163058e835    10
5b154524e66d0407c011e795    10
59b14d36e66d031a9c2239c0    10
                            ..
5c9ac9a4e66d072290dd1b62     1
5c92f953e66d0327208ea52a     1
589c8b04e66d0315605539f6     1
5c6cbe60e66d0324500f53f0     1
5c4d1debe66d031524824978     1
Name: user_id, Length: 447, dtype: int64

In [12]:
clients['sign_up_date'].value_counts()

2019-03-11    25
2019-03-18    24
2018-05-15    22
2019-02-11    19
2018-06-04    19
              ..
2017-09-22     1
2017-09-17     1
2017-09-09     1
2017-10-31     1
2017-01-30     1
Name: sign_up_date, Length: 193, dtype: int64

In [40]:
# no null values founded
# removing duplicates user_id
clients = clients.drop_duplicates(subset='user_id',keep='first')

In [41]:
clients['user_id'].value_counts()

5c925054e66d0327208f203d    1
5c62195fe66d0324a86517d3    1
5c619e13e66d03057cb968d9    1
5c607efbe66d03057c2c99b7    1
5b486698e66d031c9cf26712    1
                           ..
5c6db43fe66d031254aa4a86    1
5c608d37e66d03057c2ddf36    1
5c8fab50e66d0309087c375b    1
5b493753e66d031e9c1eb94c    1
5c4d1debe66d031524824978    1
Name: user_id, Length: 447, dtype: int64

In [42]:
#saving csv whithout duplicates
clients.to_csv("clients_1.csv")

## events

In [3]:
events = pd.read_csv('events.csv')

In [17]:
events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52118 entries, 0 to 52117
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   session_id            52118 non-null  object
 1   session_date          52118 non-null  object
 2   client_user_id        52118 non-null  object
 3   professional_user_id  52118 non-null  object
 4   contact_reasons       36304 non-null  object
dtypes: object(5)
memory usage: 2.0+ MB

In [21]:
events.shape

(52118, 5)

In [74]:
events.head()

,session_id,session_date,client_user_id,professional_user_id,contact_reasons
0,60e7a5939beb2200116859cc,2021-07-09T23:00:00Z,5f4bfbb5d7e0014e10e9653b,5e1d48550c3e7c3b9989df01,"[""reason:self-knowledge"",""reason:borderline"",""..."
1,5fe271f5b42c6c6bd693c181,2020-12-22T22:30:00Z,5fd63eb96c65bc304fa6a7a4,57edc1cde66d0a12e47ff2fc,"[""reason:adolescence""]"
2,5e99d083e85bc054959f1900,2020-04-28T15:00:00Z,5e36c6c3dc16745036e35e3c,596cc8bfe66d031cd8a5aabc,"[""reason:self-esteem"",""reason:love-relationship""]"
3,61687afac4ab1a0012d34550,2021-10-18T19:00:00Z,5ed441af2b50d2298e5fdaae,57eee7bce66d0311d0169267,"[""reason:self-knowledge"",""reason:assertiveness..."
4,5fc53286bb7b433824734aef,2020-12-07T17:00:00Z,5d3460e54ec5c1470d29322b,57edc1cde66d0a12e47ff2fc,"[""reason:burnout"",""reason:self-knowledge""]"

In [60]:
events['session_date'].value_counts()

2021-12-01T21:00:00Z    31
2021-11-17T22:00:00Z    28
2021-11-03T21:00:00Z    26
2021-11-11T22:00:00Z    26
2021-11-23T22:00:00Z    25
                        ..
2020-03-31T23:00:00Z     1
2021-08-11T12:30:00Z     1
2021-10-05T18:06:00Z     1
2021-04-11T23:30:00Z     1
2018-09-13T20:00:00Z     1
Name: session_date, Length: 17881, dtype: int64

In [56]:
events['session_id'].value_counts()

5dffea7ab1ef611ece403ac5    1
611148151b6c730011d4175a    1
60e89af4a23ce900119f7108    1
6129a016224b7b0011569c3d    1
5ea9acaaed80623caf43bd54    1
                           ..
5f6d6255a4dfe85c06831718    1
5f5a3e4bf1f4fd7b4691200c    1
5f9acd6bb09d42034f8a58b3    1
61aa8362316c030011c84ae9    1
60de17789beb2200114af750    1
Name: session_id, Length: 52118, dtype: int64

In [81]:
events['client_user_id'].value_counts()

5d226a68e66d03164079cfa5    61
5d364f34ae7b7764cad01505    58
5aa7ab00777d4504d7273599    33
5d3ebfbdf5f5e01d6e05daf9    33
61043ee8995ee700112d9d5d    19
                            ..
5ebd5ef809fbd77ad1dec126     1
5fec553d9f48031126ffa337     1
5f3687c23fd1a046e14eaf0e     1
5f667d8652aae0700b265d99     1
61365af9df6eca00127a1930     1
Name: client_user_id, Length: 30971, dtype: int64

In [82]:
events['contact_reasons'].value_counts()

["reason:anxiety"]                                                                                                                5629
["reason:self-knowledge"]                                                                                                         5274
["reason:love-relationship"]                                                                                                      2115
[]                                                                                                                                2007
["reason:anguish"]                                                                                                                1217
                                                                                                                                  ...
["reason:parents","reason:family-conflicts","reason:love-relationship"]                                                              1
["reason:anguish","reason:country-change-state-change-city-change"]                                                                  1
["reason:anxiety","reason:covid","reason:career-purpose"]                                                                            1
["reason:resilience","reason:family-conflicts"]                                                                                      1
["reason:anxiety","reason:self-knowledge","reason:self-steem","reason:procrastination","reason:obsessive-compulsive-disorder"]       1
Name: contact_reasons, Length: 5902, dtype: int64

In [11]:
#cleanning session_date column
import regex as re
events['session_date']=events['session_date'].apply(lambda x: x.split('T')[0])
#cleanning contact_reasons column
events['contact_reasons']=events['contact_reasons'].str.replace('reason','')

In [12]:
events

,session_id,session_date,client_user_id,professional_user_id,contact_reasons
0,60e7a5939beb2200116859cc,2021-07-09T23:00:00Z,5f4bfbb5d7e0014e10e9653b,5e1d48550c3e7c3b9989df01,"["":self-knowledge"","":borderline"","":love-relati..."
1,5fe271f5b42c6c6bd693c181,2020-12-22T22:30:00Z,5fd63eb96c65bc304fa6a7a4,57edc1cde66d0a12e47ff2fc,"["":adolescence""]"
2,5e99d083e85bc054959f1900,2020-04-28T15:00:00Z,5e36c6c3dc16745036e35e3c,596cc8bfe66d031cd8a5aabc,"["":self-esteem"","":love-relationship""]"
3,61687afac4ab1a0012d34550,2021-10-18T19:00:00Z,5ed441af2b50d2298e5fdaae,57eee7bce66d0311d0169267,"["":self-knowledge"","":assertiveness"","":self-ste..."
4,5fc53286bb7b433824734aef,2020-12-07T17:00:00Z,5d3460e54ec5c1470d29322b,57edc1cde66d0a12e47ff2fc,"["":burnout"","":self-knowledge""]"
...,...,...,...,...,...
52113,6000419ed8b1c97e020847a1,2021-01-15T22:00:00Z,5f440d011239d041197b7186,5ebdeae609fbd77ad1e0ce76,"[""session-outcome:no-show-client""]"
52114,5fb7f87c9d82fc67066ba65d,2020-12-02T13:00:00Z,5be82a1be66d031e24dc47d4,5d6451e6aace4f353f38e90d,"[""session-outcome:no-show-client""]"
52115,607dfbff21f0911ba2cf0524,2021-04-28T14:00:00Z,6074ad7ba37c9d053f4f7cba,5fa56e49c84d3879ae52d441,"[""session-outcome:no-show-client""]"
52116,6021c976cfa66d762d279711,2021-02-09T18:00:00Z,6009f4cb0fc6022100b5b195,5c5aee57e66d0328609c99f1,"[""session-outcome:no-show-client""]"
52117,5fa14b0880ff765c87bf3891,2020-12-09T19:00:00Z,5f8be6224dd23f712faab795,5d86747a74732a4503de946d,"[""session-outcome:no-show-client""]"

In [13]:
#saving csv date_session modified
events.to_csv("events_1.csv")

## Professionals

In [28]:
prof = pd.read_csv('proessionals.csv')
prof.head()

,professional_user_id,sign_up_date,professional_type,gender,price,is_accepting_half_hour,is_gold,is_diamond,is_silver
0,57edbf05e66d0a12e47ff296,2019-05-03,psychologist,f,150.0,False,True,False,True
1,57edbf05e66d0a12e47ff296,2019-05-03,psychologist,f,150.0,False,True,False,True
2,57edbf05e66d0a12e47ff296,2019-05-03,psychologist,f,150.0,False,True,False,True
3,57edbf05e66d0a12e47ff296,2019-05-03,psychologist,f,150.0,False,True,False,True
4,57edbf05e66d0a12e47ff296,2019-05-03,psychologist,f,150.0,False,True,False,True

In [46]:
prof['gender'].value_counts()

f     2192
m      555
nb       6
Name: gender, dtype: int64

In [30]:
prof.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2753 entries, 0 to 2752
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   professional_user_id    2753 non-null   object
 1   sign_up_date            2753 non-null   object
 2   professional_type       2753 non-null   object
 3   gender                  2753 non-null   object
 4   price                   2753 non-null   float64
 5   is_accepting_half_hour  2665 non-null   object
 6   is_gold                 2739 non-null   object
 7   is_diamond              2739 non-null   object
 8   is_silver               2739 non-null   object
dtypes: float64(1), object(8)
memory usage: 193.7+ KB

In [31]:
prof.shape

(2753, 9)

In [44]:
# removing duplicates user_id
professionals = prof.drop_duplicates(subset='professional_user_id',keep='first')

In [45]:
#saving csv whithout duplicates
professionals.to_csv("professionals_1.csv")

## Ratings

In [33]:
ratings = pd.read_csv('ratings.csv')

In [35]:
ratings.head()

,rating_id,client_user_id,professional_user_id,value,is_valid,is_visible
0,316,59810f80e66d0313b89e3e24,5926f1ade66d03158036746e,5,True,True
1,314,5984c571e66d03048823c46d,5926f1ade66d03158036746e,5,True,True
2,345,5988cfd6e66d0714d063a9ee,5926f1ade66d03158036746e,5,True,True
3,357,59a6043be66d0307dc24bf48,5926f1ade66d03158036746e,5,True,False
4,442,59d2dce1e66d031b880b7e30,5926f1ade66d03158036746e,5,True,False

In [37]:
ratings.shape

(5000, 6)

In [38]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   rating_id             5000 non-null   int64
 1   client_user_id        5000 non-null   object
 2   professional_user_id  5000 non-null   object
 3   value                 5000 non-null   int64
 4   is_valid              5000 non-null   bool
 5   is_visible            5000 non-null   bool
dtypes: bool(2), int64(2), object(2)
memory usage: 166.1+ KB

In [83]:
ratings['value'].value_counts()

5    4904
4      70
3      19
1       7
Name: value, dtype: int64