In [1]:
import pandas as pd
import numpy as np

## Clients

In [3]:
# oppening datasets
clients = pd.read_csv('clients.csv')

In [4]:
clients

                      user_id sign_up_date
0    59a6c127e66d0507dc382dac   2017-08-30
1    5af8d15ce66d031e78734b0a   2018-05-13
2    5c4914c5e66d0315b4188471   2019-01-24
3    5c4914c5e66d0315b4188471   2019-01-24
4    5c4914c5e66d0315b4188471   2019-01-24
..                        ...          ...
995  58a83f46e66d031ae88e8173   2017-02-18
996  59f9b10be66d0316fcf40a6d   2017-11-01
997  59f96418e66d031b3c9913fa   2017-11-01
998  59f9e6dce66d0316fcf41d89   2017-11-01
999  59f9e6dce66d0316fcf41d89   2017-11-01

[1000 rows x 2 columns]

In [8]:
#checking null values
clients.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user_id       1000 non-null   object
 1   sign_up_date  1000 non-null   object
dtypes: object(2)
memory usage: 15.8+ KB

In [11]:
#checking duplicates
clients['user_id'].value_counts()

5c619e13e66d03057cb968d9    12
5c96c3f2e66d032b9024a986    11
58a4b221e66d03163058e835    10
5b154524e66d0407c011e795    10
59b14d36e66d031a9c2239c0    10
                            ..
5c9ac9a4e66d072290dd1b62     1
5c92f953e66d0327208ea52a     1
589c8b04e66d0315605539f6     1
5c6cbe60e66d0324500f53f0     1
5c4d1debe66d031524824978     1
Name: user_id, Length: 447, dtype: int64

In [12]:
clients['sign_up_date'].value_counts()

2019-03-11    25
2019-03-18    24
2018-05-15    22
2019-02-11    19
2018-06-04    19
              ..
2017-09-22     1
2017-09-17     1
2017-09-09     1
2017-10-31     1
2017-01-30     1
Name: sign_up_date, Length: 193, dtype: int64

In [ ]:
# no null values founded

## events

In [15]:
events = pd.read_csv('events.csv')

In [17]:
events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52118 entries, 0 to 52117
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   session_id            52118 non-null  object
 1   session_date          52118 non-null  object
 2   client_user_id        52118 non-null  object
 3   professional_user_id  52118 non-null  object
 4   contact_reasons       36304 non-null  object
dtypes: object(5)
memory usage: 2.0+ MB

In [21]:
events.shape

(52118, 5)

In [23]:
events.head()

,session_id,session_date,client_user_id,professional_user_id,contact_reasons
0,60e7a5939beb2200116859cc,2021-07-09T23:00:00Z,5f4bfbb5d7e0014e10e9653b,5e1d48550c3e7c3b9989df01,"[""reason:self-knowledge"",""reason:borderline"",""..."
1,5fe271f5b42c6c6bd693c181,2020-12-22T22:30:00Z,5fd63eb96c65bc304fa6a7a4,57edc1cde66d0a12e47ff2fc,"[""reason:adolescence""]"
2,5e99d083e85bc054959f1900,2020-04-28T15:00:00Z,5e36c6c3dc16745036e35e3c,596cc8bfe66d031cd8a5aabc,"[""reason:self-esteem"",""reason:love-relationship""]"
3,61687afac4ab1a0012d34550,2021-10-18T19:00:00Z,5ed441af2b50d2298e5fdaae,57eee7bce66d0311d0169267,"[""reason:self-knowledge"",""reason:assertiveness..."
4,5fc53286bb7b433824734aef,2020-12-07T17:00:00Z,5d3460e54ec5c1470d29322b,57edc1cde66d0a12e47ff2fc,"[""reason:burnout"",""reason:self-knowledge""]"

In [26]:
events['session_date'].value_counts()

2021-12-01T21:00:00Z    31
2021-11-17T22:00:00Z    28
2021-11-03T21:00:00Z    26
2021-11-11T22:00:00Z    26
2021-11-23T22:00:00Z    25
                        ..
2020-03-31T23:00:00Z     1
2021-08-11T12:30:00Z     1
2021-10-05T18:06:00Z     1
2021-04-11T23:30:00Z     1
2018-09-13T20:00:00Z     1
Name: session_date, Length: 17881, dtype: int64

## Professionals

In [28]:
prof = pd.read_csv('proessionals.csv')
prof.head()

,professional_user_id,sign_up_date,professional_type,gender,price,is_accepting_half_hour,is_gold,is_diamond,is_silver
0,57edbf05e66d0a12e47ff296,2019-05-03,psychologist,f,150.0,False,True,False,True
1,57edbf05e66d0a12e47ff296,2019-05-03,psychologist,f,150.0,False,True,False,True
2,57edbf05e66d0a12e47ff296,2019-05-03,psychologist,f,150.0,False,True,False,True
3,57edbf05e66d0a12e47ff296,2019-05-03,psychologist,f,150.0,False,True,False,True
4,57edbf05e66d0a12e47ff296,2019-05-03,psychologist,f,150.0,False,True,False,True

In [30]:
prof.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2753 entries, 0 to 2752
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   professional_user_id    2753 non-null   object
 1   sign_up_date            2753 non-null   object
 2   professional_type       2753 non-null   object
 3   gender                  2753 non-null   object
 4   price                   2753 non-null   float64
 5   is_accepting_half_hour  2665 non-null   object
 6   is_gold                 2739 non-null   object
 7   is_diamond              2739 non-null   object
 8   is_silver               2739 non-null   object
dtypes: float64(1), object(8)
memory usage: 193.7+ KB

In [31]:
prof.shape

(2753, 9)

## Ratings

In [33]:
ratings = pd.read_csv('ratings.csv')

In [35]:
ratings.head()

,rating_id,client_user_id,professional_user_id,value,is_valid,is_visible
0,316,59810f80e66d0313b89e3e24,5926f1ade66d03158036746e,5,True,True
1,314,5984c571e66d03048823c46d,5926f1ade66d03158036746e,5,True,True
2,345,5988cfd6e66d0714d063a9ee,5926f1ade66d03158036746e,5,True,True
3,357,59a6043be66d0307dc24bf48,5926f1ade66d03158036746e,5,True,False
4,442,59d2dce1e66d031b880b7e30,5926f1ade66d03158036746e,5,True,False

In [37]:
ratings.shape

(5000, 6)

In [38]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   rating_id             5000 non-null   int64
 1   client_user_id        5000 non-null   object
 2   professional_user_id  5000 non-null   object
 3   value                 5000 non-null   int64
 4   is_valid              5000 non-null   bool
 5   is_visible            5000 non-null   bool
dtypes: bool(2), int64(2), object(2)
memory usage: 166.1+ KB